body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* HEADER */
header {
    background: #111;
    color: #fff;
    padding: 10px 20px;
}

.header-container {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    max-width: 1200px;
    margin: auto;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    height: 60px; 
}

.logo h1 {
    margin: 0;
    font-size: 1.5em;
}
.logo p {
    margin: 0;
    font-size: 0.9em;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover {
    color: #ccc;
}

/* Informacion */
.contenedor {
    text-align: center;
}

.contenedor ul {
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 20px;
}

.contenedor ul li {
    text-decoration: none;
}
/* BOTONES */
.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    background: #111;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
}
.btn:hover {
    background: #333;
}

/* PRODUCTOS */
.productos {
    padding: 40px 20px;
    text-align: center;
}
.productos h2 {
    margin-bottom: 20px;
}
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
}
.producto {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden; 
    transition: 0.3s;
    background: #fff;
}
.producto:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
/* Imagen */
.producto-img {
    height: 250px;
}
.producto-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.producto-img img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block;
}

/* CONTACTO */
.contacto {
    background: #f4f4f4;
    padding: 40px 20px;
    text-align: center;
}
.contacto a {
    display: inline-block;
    margin: 10px;
    padding: 12px 20px;
    background: green;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
}
.contacto a:hover {
    background: darkgreen;
}
form {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}
form input,
form textarea {
    width: 100%;
    margin: 8px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #aaa;
}
form button {
    background: #111;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
form button:hover {
    background: #333;
}

/* FOOTER */
footer {
    background: #111;
    color: #fff;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}
